<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Ruby Debug</string>
	<key>uuid</key>
	<string>06964BBC-4739-4D1B-B7D9-1DA95402ADCA</string>
</dict>
</plist>
